.suggestions {
    margin-top: 1.25em;
}
.titleContainer {
    margin-top:1.25em;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    font-weight: 500;
    color: #8e8e8e;
    margin-bottom: 1.25em;
}
.title {
    min-width: 200px;
}
a {
    width: 100%;
    text-align: right;
    color: #0095f6;
}
#momo {
    color: black;
}